* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.square-button {
  padding: .375rem .75rem;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  border-radius: .25rem;
  border: none; }

.aqua {
  color: #fff;
  background-color: #30beb4; }

body {
  font-family: 'Maven Pro', sans-serif; }

a, p {
  color: #fff;
  display: block;
  font-family: NoirPro;
  font-size: 12px; }

h3 {
  color: #0d3e98;
  text-align: center;
  font-size: 39px; }

.top-menu {
  padding-bottom: 15px; }
  .top-menu .row .brand {
    height: 100%;
    vertical-align: middle; }
    .top-menu .row .brand img {
      margin-top: 17px;
      height: 55px;
      width: auto; }
  .top-menu .row .connect {
    margin-left: auto;
    margin-top: 33px; }
    .top-menu .row .connect a {
      background-color: #30beb4;
      border-radius: 30px;
      color: #fff;
      display: inline-block;
      font-family: NoirPro;
      font-size: 12px;
      font-weight: 400;
      margin: 0 5px;
      padding: 10px 20px;
      text-align: center; }
      .top-menu .row .connect a:hover {
        text-decoration: none; }
    .top-menu .row .connect .phone {
      background-color: #0d3e98;
      color: #fff;
      padding: 10px 20px 10px 40px;
      position: relative; }

.headline .banner {
  padding: 5px 15px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #273f95; }
  .headline .banner .image-container {
    margin: 0 5px; }
    .headline .banner .image-container img {
      width: 30px; }
  .headline .banner a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer; }
.headline .headline-container {
  padding-top: 40px;
  padding-bottom: 60px;
  color: #FFFFFF;
  background-image: url(../images/headline.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .headline .headline-container::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0d3e98;
    z-index: 10; }
  .headline .headline-container h1 {
    font-weight: 700;
    font-size: 42px; }
  .headline .headline-container h2 {
    margin-top: 60px;
    font-weight: 400;
    font-size: 36px; }
  .headline .headline-container a.info-card {
    width: 30%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 250ms; }
    .headline .headline-container a.info-card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      transform: translateY(-5px);
      text-decoration: none; }
    .headline .headline-container a.info-card p {
      color: #0d3e98;
      text-align: center;
      width: 85%;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      line-height: 1.2; }
    .headline .headline-container a.info-card .image-container {
      width: 100%;
      height: 160px;
      padding: 0 20px;
      display: flex;
      justify-content: center; }
      .headline .headline-container a.info-card .image-container img {
        width: 100%; }
    .headline .headline-container a.info-card .card-footer {
      margin-top: 10px;
      width: 100%;
      padding: 0 15px;
      background-color: #FFFFFF;
      border: none; }
      .headline .headline-container a.info-card .card-footer button {
        width: 100%;
        cursor: pointer; }

.stats {
  margin: 40px 0 0 0;
  padding: 10px 0;
  background-image: url(./images/stats.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .stats .container .row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
    .stats .container .row h3 {
      display: inline-block;
      color: #fff;
      vertical-align: middle;
      margin: auto 0;
      text-align: 39px;
      font-size: 39px; }
    .stats .container .row .nbr {
      margin-left: 60px;
      display: inline-block;
      width: 130px;
      color: #fff;
      font-family: NoirPro;
      font-weight: 200;
      text-align: left; }
      .stats .container .row .nbr .number {
        font-size: 44px;
        display: block; }
      .stats .container .row .nbr .text {
        font-size: 16px;
        display: block;
        text-transform: uppercase; }

.benefits {
  margin-top: 40px; }
  .benefits .headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .benefits .headline img {
      max-width: 90px;
      margin: 0 20px;
      animation: 2.8s infinite beatHeart; }
  .benefits .benefit {
    padding: 50px; }
    .benefits .benefit img {
      width: 80%;
      height: auto;
      display: block;
      margin: 0 auto; }
    .benefits .benefit h4 {
      color: #000;
      font-family: NoirPro;
      font-weight: 200; }

.accreditations {
  background-image: url(./images/accreditations.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0; }
  .accreditations .container .row {
    flex: wrap;
    margin-right: -15px;
    margin-left: -15px; }
    .accreditations .container .row h5 {
      font-family: NoirPro;
      font-weight: 200;
      color: #fff;
      text-align: center;
      font-size: 14px;
      margin: 10px auto 20px auto; }
    .accreditations .container .row .accreditation {
      width: 20%;
      padding: 0 20px;
      vertical-align: bottom; }
      .accreditations .container .row .accreditation img {
        display: block;
        margin: 0 auto 10px auto;
        max-height: 51px;
        vertical-align: middle;
        border-style: none; }
      .accreditations .container .row .accreditation span {
        display: block;
        font-family: NoirPro;
        font-weight: 200;
        color: #fff;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase; }

.testimonials {
  margin: 20px auto 0 auto;
  padding: 20px 0;
  background-color: #f9f9f9; }
  .testimonials h3 {
    margin: 20px auto;
    font-weight: 400;
    font-size: 2.3em;
    color: #0d3e98;
    text-align: center; }
  .testimonials #testimonialsCarousel {
    margin-top: 40px; }
    .testimonials #testimonialsCarousel .carousel-inner {
      height: 420px;
      display: flex; }
      .testimonials #testimonialsCarousel .carousel-inner .carousel-item {
        padding: 0 10%;
        margin: auto 0; }
        .testimonials #testimonialsCarousel .carousel-inner .carousel-item p.testimonial {
          font-family: BergenText;
          color: #222328;
          font-size: 36px;
          text-align: center;
          line-height: 1.3; }
        .testimonials #testimonialsCarousel .carousel-inner .carousel-item p.overview {
          font-weight: 200;
          color: #4f5362;
          text-align: center;
          font-size: 16px; }
    .testimonials #testimonialsCarousel a span.fa {
      color: #C3C3C3;
      font-size: 20px; }

footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-position: top left;
  background-image: url("https://www.mastermeltgroup.com/wp-content/uploads/2018/09/Plane-sky.png"); }
  footer .container .row .legal-terms {
    border-top: 1px solid #3170be;
    margin-top: 20px;
    padding-top: 20px; }
    footer .container .row .legal-terms .copyright {
      color: #fff;
      font-family: NoirPro;
      font-size: 12px;
      display: block; }
    footer .container .row .legal-terms p {
      font-size: 14Px;
      margin-bottom: 10px; }
  footer .container .row .linkcol {
    padding-top: 30px; }
    footer .container .row .linkcol .link-list .subtitle {
      color: #fff;
      text-transform: uppercase;
      font-family: NoirPro;
      opacity: .6;
      font-size: 16px;
      display: block;
      margin: 10px auto;
      font-weight: 200; }
    footer .container .row .linkcol .link-list a {
      font-weight: 200;
      margin-top: 10px; }
    footer .container .row .linkcol .languages-container {
      color: #fff;
      text-transform: uppercase;
      font-family: NoirPro;
      opacity: .6;
      font-size: 16px;
      display: block;
      margin: 10px auto;
      font-weight: 200; }
      footer .container .row .linkcol .languages-container a {
        font-weight: 200;
        margin-top: 10px; }
    footer .container .row .linkcol .info-container .subtitle {
      color: #fff;
      text-transform: uppercase;
      font-family: NoirPro;
      opacity: .6;
      font-size: 16px;
      display: block;
      margin: 10px auto;
      font-weight: 200; }
    footer .container .row .linkcol .info-container .info {
      color: #fff;
      font-family: NoirPro;
      font-size: 14px;
      display: block;
      font-weight: 200;
      margin-top: 10px; }
      footer .container .row .linkcol .info-container .info a {
        font-size: 14px; }
  footer .container .row .contact .brand {
    margin: 20px 0;
    display: block; }
  footer .container .row .contact h5 {
    font-family: BergenText;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-align: left; }

.popularcat {
  margin: 20px auto; }
  .popularcat .row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
    .popularcat .row h3 {
      margin-bottom: 20px;
      font-family: BergenText;
      color: #0d3e98;
      text-align: center;
      font-size: 39px; }
    .popularcat .row a {
      text-align: center;
      padding: 0 20px;
      margin-bottom: 20px; }
      .popularcat .row a .image-container {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;
        user-select: none; }
        .popularcat .row a .image-container img {
          width: 100%; }
      .popularcat .row a span {
        font-family: NoirPro;
        font-weight: 200;
        color: #4f5362;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase; }
    .popularcat .row .category {
      text-align: center;
      padding: 0 20px;
      margin-bottom: 20px; }
      .popularcat .row .category .image-container {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;
        user-select: none; }
      .popularcat .row .category .name {
        font-family: NoirPro;
        font-weight: 200;
        color: #4f5362;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
